Flask
Flask-SQLAlchemy
Flask-Migrate
pymysql
easyocr
openai
torch
torchvision
ultralytics
xendit
scikit-learn
langdetect
symspellpy
opencv-python-headless
fpdf
pathlib
numpy 
tensorflow
opencv-python
spacy